.ufb-domain-search .ufb-domain-search-inner {
    display: flex;
    width: 100%;
}

.ufb-domain-search input[type="text"] {
    flex: 1;
    font-size: 18px;
    height: auto;
    min-height: 60px;
    border: .8px solid rgba(3, 15, 39, 0.1);
    border-radius: 5px;
    padding: 14px 24px;
    box-sizing: border-box;
    color: rgba(3, 15, 39, 0.7);
    background-color: rgba(122, 125, 140, 0.05);
}

.ufb-domain-search input[type="text"]:focus,
.ufb-domain-search input[type="text"].error:focus {
    border-color: red;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
    /* Red glow remains on focus */
}

.ufb-domain-search input[type="text"].error {
    border-color: red;
    border-width: 3px;
    /* Thicker red border */
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.7);
    /* Red glow around the border */
    animation: jiggle 0.3s ease-in-out;
    /* Jiggle animation */
}

@keyframes jiggle {

    0%,
    100% {
        transform: translateX(0);
    }

    25% {
        transform: translateX(-5px);
    }

    50% {
        transform: translateX(5px);
    }

    75% {
        transform: translateX(-5px);
    }
}

.ufb-domain-search button[type="submit"] {
    font-size: 16px;
    background-color: rgb(55, 126, 249);
    color: #fff;
    border: 2px solid rgb(55, 126, 249);
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    padding: 14px 42px;
    box-sizing: border-box;
    transition-duration: 0.50s;
}

.ufb-domain-search button[type="submit"]:hover {
    background-color: black;
    border-color: black;
}

@media only screen and (max-width: 767px) {
    .ufb-domain-search .ufb-domain-search-inner {
        display: block;
        text-align: center;
    }

    .ufb-domain-search input[type="text"] {
        margin-bottom: 15px;
        font-size: 15px;
    }

    .ufb-domain-search button[type="submit"] {
        min-width: 100%;
        border-radius: 4px;
    }
}